.text-center img{
    filter: grayscale(1) sepia(100%) hue-rotate(
55deg) saturate(7) brightness(1) contrast(0.8);
}

footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    margin: 20px;
}

body, .nav-link{
    color: #24ff1f !important;
}

body{
    background-color: #272b23;
}

.nav-link.active{
    background-color: #272b23 !important;
}